<div class="full">
<div class="colorfilter-base">
    <img src="https://cdn.shopify.com/s/files/1/0262/8252/4717/files/data_m1_top.jpg?v=1611107821" class="colorfilter-image imgcenter" width="100%">

  <div class="catch_title_column colorfilter-base_inr">
<p class="catch_title_sub">甘酒生活　その2</p>
<p class="catch_title">甘酒の美肌への効果を<br>試してもらいました</p></div>

</div>

<div class="contents_2w">
    {{ page.content }}
 </div>