<div class="full">
<div class="colorfilter-base">
    <img src="https://cdn.shopify.com/s/files/1/0262/8252/4717/files/column_06_top.jpg?v=1608282042" class="colorfilter-image imgcenter" width="100%">

  <div class="catch_title_column colorfilter-base_inr">
<p class="catch_title_sub">甘酒の基礎知識　その6</p>
<p class="catch_title">甘酒の種類と選び方</p></div>

</div>

<div class="contents_2w">
    {{ page.content }}
 </div>