<div class="full">
<img src="https://cdn.shopify.com/s/files/1/0262/8252/4717/files/about_amazake_top_pc1.jpg?v=1716906212" class="imgcenter pc_area">
<img src="https://cdn.shopify.com/s/files/1/0262/8252/4717/files/about_amazake_top_sp1.jpg?v=1716906212" class="imgcenter phone_area">
</div>

<div class="contents_2w">
    {{ page.content }}
 </div>

  {{ 'page-kaisyu-about.css' | asset_url | stylesheet_tag }}
  {{ 'page-kaisyu.css' | asset_url | stylesheet_tag }}
