<div class="full">
<div class="colorfilter-base">
    <img src="https://cdn.shopify.com/s/files/1/0262/8252/4717/files/data_to_top.jpg?v=1610942189" class="colorfilter-image imgcenter" width="100%">

  <div class="catch_title_column colorfilter-base_inr" style="width:90%;">
<p class="catch_title_sub">甘酒生活　その１</p>
<p class="catch_title">甘酒を生活に取り入れた<br>3年間のデータを公開！</p></div>

</div>
<style>
.catch_title_sub,.catch_title{font-size:40px;text-align:center;}
@media screen and (max-width:768px){
.catch_title_sub,.catch_title{font-size:25px;
}
</style>
<div class="contents_2w">
    {{ page.content }}
 </div>
{{ 'page-kaisyu.css'| asset_url | stylesheet_tag }}
 {{ 'page-kaisyu-column01.css'| asset_url | stylesheet_tag }}
 {{ 'page-kaisyu-resistantprotein.css'| asset_url | stylesheet_tag }}