 html { scroll-behavior: smooth;}
.placeholder-noblocks{
  display: none;
}
.index-section--faq {
margin: 40px 0 37.5px;
}
#MainContent .index-section:nth-child(3),#MainContent .index-section:nth-child(4),#MainContent .index-section:nth-child(5),#MainContent .index-section:nth-child(6){
width: 100%;
max-width: 580px;
margin: 0 auto 50px;
background: #fff;
padding: 1px 0 50px;
font-size: 14px;
line-height: 1.6;
}
.index-section--faq .rte{
background: #BAB494;
color: #fff;
text-align: center;
border-radius: 20px;
font-size: 18px;
}
#shopify-section-template--16442998423790__eac543da-0be0-4a24-9d06-24f1e4461a09{
margin: 20px auto;
}
#shopify-section-template--16442998423790__eac543da-0be0-4a24-9d06-24f1e4461a09 .rte{
  background: unset;
  display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
max-width: 480px;
width: 100%;
margin: 0 auto;
}
#shopify-section-template--16442998423790__eac543da-0be0-4a24-9d06-24f1e4461a09 .rte a{
color: #BAB494;
background: #fff;
border-radius: 30px;
font-size: 13px;
padding: 1px 8px;
border: 1px solid #BAB494;
margin: 8px;
  line-height: 1.6;
}
#shopify-section-template--16442998423790__eac543da-0be0-4a24-9d06-24f1e4461a09 .rte a:hover {
  transition-duration: .5s;
  background: #BAB494;
  color: #fff;
}
#shopify-section-template--16442998423790__eac543da-0be0-4a24-9d06-24f1e4461a09 .rte a::after {
display:none;
}
.collapsible-trigger__icon--circle {
width: 20px;
height: 20px;
}
.faq-sen{
border-bottom: 1px solid #ccc;
border-image: linear-gradient(to right, #fff 0%, #fff 7.99%, #ccc 8%, #ccc 98.99%, #fff 99%, #fff 100%);
border-image-slice: 1;
padding: 8px;
color: #6a5d21;
}
.index-section div:last-child .faq-sen{
border:none;
}
.faq-sen .collapsible-content.is-open {
padding: 10px 10px 0 30px;
font-size: 13px;
color: #000;
background: #f2f2f2;
border-radius: 10px;
}
.faq-sen .collapsible-content__inner p a {
  color: #BAB494;
  background: #fff;
  border-radius: 30px;
  font-size: 13px;
  padding: 1px 8px;
  border: 1px solid #BAB494;
  margin: 8px;
}
.faq-sen .collapsible-content__inner p a:hover {
  transition-duration: .5s;
  background: #BAB494;
  color: #fff;
}
.faq-sen .collapsible-content__inner p a::after {
display:none;
}
@media (max-width: 580px) {
#MainContent .index-section:nth-child(3),#MainContent .index-section:nth-child(4),#MainContent .index-section:nth-child(5),#MainContent .index-section:nth-child(6){
width: 90%;
}
.faq-sen .collapsible-content__inner p a {
  font-size: 12px;
  padding: 0 8px;
  margin: 5px;
}
}