<section class="dad05">
<div class="faq00">
<h2>よくあるご質問</h2>
<ul>
<li class="accordion_one">
<div class="accordion_header ko open">１日にどのくらい飲むといいですか？
<div class="i_box"><i class="one_i"></i></div>
</div>
<div class="accordion_inner" style="display: block;">
<div class="accordion_one">
<div class="accordion_header">目安としては150〜200mlが良いとされています。詳しくは、<a href="https://koujiamasake.jp/pages/column04">甘酒の飲み方</a>をご参照ください。</div>
</div>
</div>
</li>
<li class="accordion_one">
<div class="accordion_header ko open">毎日摂取する場合、いつが良いですか？
<div class="i_box"><i class="one_i"></i></div>
</div>
<div class="accordion_inner" style="display: block;">
<div class="accordion_one">
<div class="accordion_header">おすすめは朝です。糖質（ブドウ糖）、ビタミンが多いため、スムーズにエネルギー補給ができます。<br>消化・吸収が良いので、起きたばかりの胃にも負担がなく優しいでしょう。次いで就寝前がおすすめです。甘酒にはリラックス効果があり、ストレスの改善にも良いとされています。詳しくは、<a href="https://koujiamasake.jp/pages/column04">甘酒の飲み方</a>をご参照ください。</div>
</div>
</div>
</li>
<li class="accordion_one">
<div class="accordion_header ko">アルコールは入ってないのですか？
<div class="i_box"><i class="one_i"></i></div>
</div>
<div class="accordion_inner">
<div class="accordion_one">
<div class="accordion_header">のレンMUROで取り扱う甘酒には、全商品アルコールは入っていません。安心安全のノンアルコールなので、お酒が苦手な方をはじめ、お子様や妊娠中の方など誰でもご賞味いただけます。</div>
</div>
</div>
</li>
<li class="accordion_one">
<div class="accordion_header ko">子供や妊娠中でも飲めますか？
<div class="i_box"><i class="one_i"></i></div>
</div>
<div class="accordion_inner">
<div class="accordion_one">
<div class="accordion_header">当店で扱っている米麹の甘酒にはアルコールが含まれていないので、妊娠中の方やお子様にもお召し上がりいただけます。</div>
</div>
</div>
</li>
</ul>
</div>
</section>
<section class="dad06" id="dad-tyui">
<div class="kai-inn">
<h2>注意事項</h2>
<h3>＜ラッピングの注意事項＞</h3>
<ul>
<li><span>父の日熨斗は、ギフトセットの商品ページ内「熨斗」タブより「父の日熨斗」をお選び頂いてから商品をカートにお入れください。</span></li>
<li>ギフトセット1セットごとお包みいたします。2セット以上をまとめて包装したり、ギフトセットの商品を入れ替えたり、他商品を加えて包装する事は出来ません。</li>
<li>父の日熨斗は、メッセージを追記したり、<span>表書き部分の変更や名入れは出来ません</span>。また、全て外熨斗となります。</li>
<li>メッセージカードの対応は行っておりません。</li>
<li>ギフトセット以外の商品は、ラッピングや熨斗掛けのギフト対応は行っておりません。ギフト対応をご希望の場合はギフトセットをお選びください。</li>
<li>弔事用の掛け紙をご選択の場合、弔事用包装紙でお包みいたします。</li>
</ul>

<h3>＜父の日期間の配送に関する注意事項＞</h3>
<ul>
<li><span>6/18の父の日当日の着日指定は、6/12（月）正午までのご注文</span>にて締め切りとさせて頂きます。<br>
以降のご注文は6/19（月）以降の指定のみとなりますので、父の日までのお届けをご希望の場合は、着日指定なしをお選びください。<br>
不備が無い限りお支払いが確認出来ているご注文は最短出荷とする場合がございますので、ご注文タイミングとお届け先によりお届け日は前後します。ご了承下さいませ。</li>
<li><span>父の日前の最終出荷は6/16（金）正午まで</span>のご注文にて締め切りとさせて頂きます。</li>
<li>ＧＷから父の日過ぎまでは、全国的に物流が混雑する為、当店出荷後の配送が遅延する場合がございます。ご了承くださいませ。</li>
<li>当店出荷日は、混雑状況やお届け先エリアを考慮し指定いたしますので、当店へお任せください。</li>
<li>出荷後の配送状況は、出荷完了メール記載の配送伝票番号よりご確認下さい。配送に関するお問合せは直接配送業者の営業所へお願い致します。</li>
</ul>
</div>
</section>