# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "732d8fe4f68417f6f8d59f61568ac6ec"
name = "recipe-generator-app"
application_url = "https://corazon-recipe-generator-v5.vercel.app/"
embedded = true
handle = "recipe-generator-app-1"

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://corazon-recipe-generator-v5.vercel.app/api/auth" ]

[pos]
embedded = false

[app_proxy]
url = "https://corazon-recipe-generator-v5.vercel.app"
subpath = "recipe_gen"
prefix = "apps"
